@model Dept
<h1>Editing Record</h1>
<hr />
<form method="post">
    <table>
        <tr>
            <td>
                <label asp-for="Id"></label>
            </td>
            <td>
                <input type="text" asp-for="Id" readonly />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Name"></label>
            </td>
            <td>
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name" style="color:red"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Location"></label>
            </td>
            <td>
                <input type="text" asp-for="Location" />
                <span asp-validation-for="Location" style="color:red"></span>
            </td>
        </tr>
    </table>
    <br /><br /><br />
    <input type="submit" value="Update Record" />
</form>

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>